<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head',{title: "producto"});%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<%- include('../partials/header');%>

	<!--Banner de la categoria-->
	<div class="container mb-4" style="height: 250px">
		<div class="row h-100">
			<!--Teaser-->
			<div class="col-12 h-100">
				<img src="/public/images/banner_category.png" class="img-fluid h-100 w-100" alt="Responsive image">
			</div>
			<!--Teaser Terminado-->
		</div>
	</div>
	<!--Terminado-->

	<!-- Meto una fila para el row de productos-->
	<div class="container mb-4">
		<!-- Primera row del listado de productos-->
		<div class="row">
			<% products.forEach(function (oneProduct) { %>
			<div class="col-6 col-md-3" > 
				<a style="color: grey" href="/products/<%=`${oneProduct.id}`%>"> 
					<div class="card flex mx-1 mb-4">
						<img src="/../images/productImages/<%=`${oneProduct.image}`%>" class="card-img-top img-circle" alt="Responsive Image" >							
					
						<div class="card-body" style="font-size: 14px; height: 150px; width: 200px">
							<h5 class="card-title" style="font-size: 16px"><%=`${oneProduct.name}`%></h5>
							<% if(oneProduct.sale_price == null) { %>
								<p style="font-weight: bold; font-size: 18px"> $ <%=`${oneProduct.list_price}`%> </p>
							<% } else{ %>
								<strike> $ <%=`${oneProduct.list_price}`%>  </strike>
								<p style="color: red; font-weight: bold; font-size: 18px">Oferta! $<%= `${oneProduct.sale_price}`%> </p>
							<%} %>
						</div>
					</div>
				</a>
			</div>
			<% }) %>
		</div>
	</div>


	<%- include('../partials/footer');%>
	<%- include('../partials/scripts');%>

</body>
</html>