<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head',{title: "producto"});%>

<body class="bg-light">
	<%- include('../partials/header');%>


	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-white">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page"><%= `${ product.category }` %></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="container bg-white border border-secondary">
		<div class="row">
			<div class="col-12 col-sm-8 img-thumbnail border-secondary">
				<img src="../images/productImages/<%= product.image %>" class="img-fluid" alt="Responsive image">		
			</div>
			<div class="col-12 col-sm-4 ">
				<div class="row">
					<div class="col-12 text-center pb-4 pt-4">
						<h2><%= product.name %></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-around">
							<p><%= product.brand %></p>
							<p><%= product.model %></p>
							<p><%= product.color %></p>
					</div>
				</div>
				<div class="row">	
					<div class="col-12 col-sm-12 col- justify-content-start text-left pt-4">
						<% if(product.sale_price != null){ %>
							<h4><strike>$ <%= product.list_price %></strike></h4>
							<div class="col-12 d-flex justify-content-start text-left" style="padding-left: 0px;">
								<h4 style="color: red; padding-right: 3px;">¡Oferta!:</h4> 
								<h4>$<%= product.sale_price %></h4>
							</div>
						<%}else{%>
							<h4>$ <%= product.list_price %></h4>
							<%}%>
							<p>Hasta 12 cuotas sin interes</p>
						<p>Recibilo en 2 dias</p>
						<p>Tu compra ayuda al medioambiente</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-end">
						<div class="btn-group">
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Cantidad
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">1</a>
								<a class="dropdown-item" href="#">2</a>
								<a class="dropdown-item" href="#">3</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-end">
						<button type="button" class="btn btn-secondary m-2">Agregar al Carrito</button>
						<button type="button" class="btn btn-primary m-2">Comprar</button>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="container bg-white border border-secondary">
		<div class="row">
			<div class="col-12">
				<h2>Descripcion de producto</h2>
				<p><%= product.description %></p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form action="/products/<%= product.id %>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-primary m-2">Borrar</button>
				</form>

				<form>
					<a href="/products/edit/<%= product.id%>">
					<button  type="button" class="btn btn-primary m-2">Editar</button>
				</form>
			</div>
		</div>
	</div>
	<%- include('../partials/footer');%>
	<%- include('../partials/scripts');%>

</body>
</html>