<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head',{title:'Formulario de creacion de producto'});%>

<body>
		<%- include('../partials/header');%>
<div class="container mb-2 mt-2">
<form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
	<div class="form-row">
		<div class="form-group col-12">
			<h2>Modo Edición: Datos actuales del producto</h2>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12">
			<label>Nombre de Producto</label>
			<input type="text" name="name" class="form-control" value="<%=product.name%>">
		</div>
	</div>
	<div class="form-row">
	    <div class="form-group col-12 col-sm-6 col-md-3">
			 <label>Marca</label>
			 <input type="text" name="brand" class="form-control" value="<%=product.brand%>">
		</div>
	    <div class="form-group col-12 col-sm-6 col-md-3">
		     <label>Modelo</label>
		     <input type="text" name="model" class="form-control" value="<%=product.model%>">
		</div>
		<div n="form-group col-12 col-sm-6 col-md-3">
			<label>Categoria</label>
			<input type="text" name="category" class="form-control" value="<%=product.category%>">
		</div>
		<div class="form-group col-12 col-sm-6 col-md-3">
			<label>Color</label>
			<input type="text" name="color" class="form-control" value="<%=product.color%>">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12">
			<label>Descripcion</label>
			<input type="text" name="description" class="form-control" value="<%=product.description%>">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12 custom-file">
			<label class="custom-file-label" for="customFile">Si no queres editarla, no toques</label>
			<input type="file" name="image" class="form-control custom-file-input">
		</div>
	</div>
	<div class="form-row mt-2">
		<div class="form-group col-12">
			<h4>Medidas de la caja</h4>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12 col-sm-6 col-md-3">
			<label>Ancho</label>
			<input type="number" name="width" class="form-control" value="<%=product.width%>">
		</div>
		<div class="form-group col-12 col-sm-6 col-md-3">
			<label>Alto</label>
			<input type="number" name="height" class="form-control" value="<%=product.height%>">
		</div>
		<div class="form-group col-12 col-sm-6 col-md-3">
			<label>Profundidad</label>
			<input type="number" name="length" class="form-control" value="<%=product.length%>">
		</div>
		<div class="form-group col-12 col-sm-6 col-md-3">
			<label>Peso</label>
			<input type="number" name="weight" class="form-control" value="<%=product.weight%>">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12">
		<h4>Datos para la venta</h4>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12 col-sm-4">
			<label>Precio de Lista</label>
			<input type="number" name="list_price" class="form-control" value="<%=product.list_price%>">
		</div>
		<div class="form-group col-12 col-sm-4">
			<label>Precio de Venta</label>
			<input type="number" name="sale_price" class="form-control" value="<%=product.sale_price%>">
		</div>
		<div class="form-group col-12 col-sm-4">
			<label>Stock</label>
			<input type="number" name="stock" class="form-control" value="<%=product.stock%>">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Guardar modificaciones</button>
</form>
</div>
	<%- include('../partials/footer');%>
	<%- include('../partials/scripts');%>
</body>	
</html>

