<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title:'Bienvenidos a +Green'});%>

<body>
	<%- include('partials/header');%>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Mi Carrito</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-12 col-sm-8">
				<div class="jumbotron jumbotron-fluid" style="padding: 0px;">
					<div class="container">
						<div class="row">
						<div class="col-12 col-sm-12 col-md-4 d-flex align-items-center">
						 <img src="/images/productImages/<%= product[1].image %>" class="img-thumbnail">
						</div>
						<div class="col-12 col-sm-12 col-md-4 d-flex align-items-center justify-content-center">
						 <h2><%=product[1].name%></h2>
						</div>
						<div class="col-12 col-sm-6 col-md-2 d-flex align-items-center justify-content-center">
						<select name="select">
							<option value="value1">1 Unidad</option>
							<option value="value2">2 Unidades</option>
							<option value="value3">3 Unidades</option>
						</select>
						</div>
						<div class="col-12 col-sm-6 col-md-2 d-flex align-items-center justify-content-center">
						<p>Precio $<%=product[1].sale_price%></p>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="jumbotron jumbotron-fluid"style="padding: 0px;">
					<div class="container">
						<h4>Resumen de Compra</h4>
						<p>Subtotal $<%=product[1].sale_price%></p>
						<p>Descuentos $0</p>
						<h4>Total $<%=product[1].sale_price%></h4>
					</div>
				</div>
				<button type="button" class="btn btn-secondary m-2">Seguir Comprando</button>
				<button type="button" class="btn btn-primary m-2">Continuar</button>
			</div>

		</div>
	</div>

	<%- include('partials/footer');%>
	<%- include('partials/scripts');%>

</body>
</html>