<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: "Profile"});%>

<body>
    <%- include('partials/header');%>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../images/profileImages/<%= user.image%>" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= user.first_name + " " + user.last_name%></h5>
                            <p class="card-text">Email: <%= user.email%> </p>
                            <p class="card-text">User ID: <%= user.id%> </p>
                            <p class="card-text"> <%= user.category%> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/register/logout" method="GET">
                <button type="submit" class="btn btn-primary">LOGOUT</button>
            </form>
        </div>
    </div>
</div>

    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    
</body>
</html>