<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head',{title:'Log In - +Green'});%>
<body>
<%- include('../partials/header');%>


<div class="container mt-5 mb-5">
	<div class="row">
	<div class="col-lg-4"></div>	
	<div class="col-lg-4">
		<h1>Iniciá Sesión</h1>
		<form action="/users/login" class="login" method = "POST">
		<div class="form-group">
		  <label for="email">Email</label>
		  <input 	type="email" 
					name="email"  
					placeholder="jperez@gmail.com"
					class="email form-control
						<% if (typeof hasErrorGetMessage !== 'undefined') { %>
							<%= hasErrorGetMessage('email', errors) || incorrectPasswordMessage ? 'is-invalid' : null %> 	
						<% } %>
						"
						value="<%= typeof oldData !== 'undefined' ? oldData.email : null %>"
			>
			<i class="invalid-feedback">
				<% if (typeof hasErrorGetMessage !== 'undefined') { %>
					<%= hasErrorGetMessage('email', errors) ? hasErrorGetMessage('email', errors) : null %> 	
				<% } %>
			</i>
		  
		</div>
		<div class="form-group">
		  <label for="password">Contraseña:</label>
		  <input 	type="password" 
					name="password" 
					placeholder="******" 
					class="form-control contraseña
					<% if (typeof incorrectPasswordMessage !== 'undefined') { %>
						<%= incorrectPasswordMessage ? 'is-invalid' : null %> 	
					<% } %>
			"
		  >
		  <i class="invalid-feedback">
			<% if (typeof hasErrorGetMessage !== 'undefined') { %>
				<%= hasErrorGetMessage('password', errors) ? hasErrorGetMessage('password', errors) : null %> 	
			<% } %>
			<% if (typeof incorrectPasswordMessage !== 'undefined') { %>
				<%= incorrectPasswordMessage ? incorrectPasswordMessage : null %> 	
			<% } %>
		</i>
		</div>
		<div class="form-group text-center">
			<label class= "form-check-label"> 
				<input type='checkbox' class="form-check-input name="remember_user">Recordar mi usuario
			</label>
		</div>
		<div>
			<p>¿Todavía no estás registrado? <a href="../users/register"> Registrate ACA!</a>
		</div>
			<button type="submit" class="btn btn-primary mb-2">Log In</button>

		<div  class= "errores" style="color: red; background-color: lightpink;">
			<ul></ul>
		</div>
	  </form>
</div>	
<div class="col-lg-4"></div>	

</div>
</div>	

<script src = "/js/js-login.js"></script>
</body>


	<%- include('../partials/footer');%>
	<%- include('../partials/scripts');%>
</html>