<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title: "Profile"});%>

<body>
    <%- include('../partials/header');%>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../../images/profileImages/<%= users.image%>" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= users.first_name + " " + users.last_name%></h5>
                            <p class="card-text">Email: <%= users.email%> </p>
                            <p class="card-text">User ID: <%= users.id%> </p>
                            <p class="card-text"> <%= users.category%> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/users/logout" method="GET">
                <button type="submit" class="btn btn-primary">LOGOUT</button>
            </form>
        </div>
    </div>
</div>

    <%- include('../partials/footer');%>
    <%- include('../partials/scripts');%>
    
</body>
</html>